@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is just a beginning</h1>
    <p>我是小宝贝</p>
    <div class="container">
        <img src="~/me.jpg" style="height: 100%; width: 100%;" />
    </div>
    <div class="container">
        <h5>Nè hỏi thiệt nhé! Ăn gì mà đẹp zợ? ^^</h5>
    </div>

</div>
