@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h4>Have a good day &#128147 ^^</h4>
<p>Trang web được tạo bởii tôi (<a href="https://www.facebook.com//bui.khac.ha.son">BKHS</a>), tấn công hay hack thoải mái. Mọi vấn đề xin liên hệ buikhachason@gmail.com</p>
<p>This Website belong to me (<a href="https://www.facebook.com//bui.khac.ha.son">BKHS</a>), you are free to attrack or hack this. Have any issue please contact buikhachason@gmail.com</p>
