<html>
<head>
    <title>@ViewBag.Tittle</title>
</head>
<body>
    <h1>Message</h1>
</body>
</html>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
